.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  background-color: #00b3a8;

}

.home__row{
  display: flex;
  z-index: 1;
  /* margin-left: 5px;
  margin-right: 5px;
  flex-wrap: wrap; */
  justify-content: center;
  width: 100%;
}

.home__image{
  width: 100%;
  z-index: -1;
  /* margin-bottom:  -150px; */
  mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}


.paginationBox {
  display: flex;
  justify-content: center;
  margin: 4vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 4px 15px;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  /* font: 300 0.7vmax "Roboto"; */
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: #88f0e9
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: #00b3a8 ;
}

.pageLinkActive {
  color: white;
}
