.header{
  display: flex;
  position: sticky;
  align-items: center;
  background-color: #131921;
  top: 0;
  z-index: 100;
}

.header__logo{
  width: 100px;
}

.header__nav{
  display: flex;
  justify-content: space-evenly;
  flex: 0.35;
  align-items: center;
}

.header__nav a{
  text-decoration: none;
}

.header__option{
  color: white;
}

.header__optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount{
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  flex: 0.55;
  text-align: center;
}

.logo a{
  text-decoration: none;
}

span.logo__name {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  align-items: center;
}


img.user__profilepic{
  width: 3vmax;
  border-radius: 25%;
}
.login__button,.logout__button{
  border: none;
    background-color: #00b3a8;
    /* font: 400 1vmax "Roboto"; */
    color: white;
    text-decoration: none;
    padding: 0.5vmax;
    text-align: center;
    transition: all 0.5s;
    margin: 1vmax 0;
    cursor: pointer;
}
.login__button:hover,.logout__button:hover{
  background-color: #0f7c73;
}

@media screen and (max-width:600px) {
  .header{
    flex-direction: column;
  }
  .header__nav{
    gap: 1rem;
    margin-bottom: 6px;
  }
  img.user__profilepic{
    width: 6vmax;
  }
  
}