.header{
  display: flex;
  position: sticky;
  align-items: center;
  background-color: #131921;
  top: 0;
  z-index: 100;
}

.header__logo{
  width: 100px;
}

.header__nav{
  display: flex;
  justify-content: space-evenly;
  flex: 0.45;
}

.header__nav a{
  text-decoration: none;
}

.header__option{
  color: white;
}

.header__optionLineTwo{
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount{
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  flex: 0.45;
  text-align: center;
}

.logo a{
  text-decoration: none;
}

span.logo__name {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  align-items: center;
}